# NetBox API settings
NETBOX_URL=http://localhost:8000
NETBOX_TOKEN=change_me

# Automation settings
LAB_NAME=netbox-network-automation-lab
ENVIRONMENT=local

# Ansible settings
ANSIBLE_HOST_KEY_CHECKING=False
ANSIBLE_STDOUT_CALLBACK=yaml

# MikroTik lab credentials
MIKROTIK_USER=admin
MIKROTIK_PASSWORD=change_me
MIKROTIK_PORT=22

# Cisco lab credentials
CISCO_USER=admin
CISCO_PASSWORD=change_me
CISCO_PORT=22
CISCO_ENABLE=false
CISCO_ENABLE_PASSWORD=

# Linux lab credentials
LINUX_USER=parsa
LINUX_PASSWORD=change_me
LINUX_PORT=22
